@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply border-b border-neutral-700;
}

.p-menuitem {
  @apply pb-4;
}

.p-carousel-container {
  @apply overflow-hidden;
}

.p-rating-icon {
  @apply text-yellow-500;
}

.p-menuitem-content span {
  @apply text-xl;
}

/* .p-carousel-items-container {
  @apply flex items-center;
} */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  overflow: visible;
  cursor: pointer;
}

.box-shadow-custom {
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px rgba(0, 0, 0, 0.25);
}
